
/* Autocomplete stuff */

#ui-id-1 {
    background: lightgray;
    width: 40%;
}
#ui-id-2 {
    background: lightgray;
    width: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mynetwork {
    width: 90%;
    height: 300px;
    margin-left: 5%;
    border: solid;
}



#searchVariablesToAdd_dynamic {
    position: absolute;
    display: none;
}

/* display long text as ellipsis */

.jsgrid-cell {
    overflow: hidden;
    white-space: nowrap;
}

#uploadCSVButton{
    margin-top: 5px;
}

