
/* Autocomplete stuff */

#ui-id-1 {
    background: white;
    width: 40%;
}
#ui-id-2 {
    background: white;
    width: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ui-helper-hidden-accessible { display:none; }

.ui-menu-item:hover{
    background-color: lightgray;
}

.ui-menu{
    background-color:white;
    border-style:solid;
    border-width:1px;
    width: 10%;
}

.ui-menu-item-wrapper{
    border-width:1px;
    border-style:solid;
}

/* ---------- */

#mynetwork {
    width: 90%;
    height: 300px;
    margin-left: 5%;
    border: solid;
}

#searchVariablesToAdd{
    margin-left: 5%;
}

#searchVariablesToAdd_dynamic {
    position: absolute;
    display: none;
}

#drawLinks{
    padding-top: 6px;
    padding-bottom: 6px;
}

#deleteNodes{
    margin-left:5%;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* display long text as ellipsis */

.jsgrid-cell {
    overflow: hidden;
    white-space: nowrap;
}

#straightCurvedEdges{
    margin-left:5%;
    padding-top: 6px;
    padding-bottom: 6px;
}

#uploadCSVButton{
    margin-top: 8px;
    padding: 6px;
}

#downloadCSVButton{
    padding: 6px;
}


