
#exploreTitle{
	width:20%;
}

#mynetwork {
	top: 5%;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index:-10;
}

#links {
	position: fixed;
	bottom: 0;
	left:2%;
	right:2%;
	background-color: white;
	border-style: solid;
}

#links_table_container {
	overflow-y: auto;
	height: 100%;
}


#toggleTableButton {
	position: absolute;
	top: -20px;
	left: 50%;
	z-index: 1;
	width: 50px;
}

#controlPanel {
	position: fixed;
	left:0;
	width: 100px;
	
}

#searchVariablesToAdd {
	position:fixed;

}

#legendButton{
	position: fixed;
	right:5px;
	top: 30%;
}

#closeLegendButton{
	position:absolute;
	top:8px;
	right:0px
}

#legend {
	position: fixed;
	right: 5px;
	top: 30%;
	border-style: solid;
	padding: 10px;
	background-color:white;
}

#legendTitle{
	padding-right:10px;
}

.legendItem{
	float: right;
    clear: right;
}


.vis-configuration-wrapper{
	position: fixed;
	top: 18%;
	right: 0px;
	width: 30%;
	z-index: 9;
	background: white;
	border-style:solid;
	bottom: 10px;
	overflow-y: auto;
	padding-left:5px;
	padding-right:5px;
}

#networkSettingsButton{
	right: 5px;
	margin-top: 5px;
	position: fixed;
	z-index: 10;
}

#networkSettings{
	position: fixed;
	top: 10%;
	height: 8%;
	right: 0px;
	width: 30%;
	border-style: solid;
	background: white;
	display: none;
	z-index:9;
}

/* Autocomplete stuff */

#ui-id-1 {
    background: lightgray;
    width: 40%;
}
#ui-id-2 {
    background: lightgray;
    width: 40%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ui-helper-hidden-accessible { display:none; }



/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #e70000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left:50%;
  z-index:30;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}