#mynetwork {
	position: absolute;
	width: 100%;
	height:100%;
}

#networkTitle {
	display:none;
	text-align: center;
	z-index:10;
	position: absolute;
	top: 10px;
	width:100%;
	font-size: 20pt;
}

#quote {
	text-align: center;
	z-index:10;
	position: absolute;
	top: 10px;
	left: 30%;
	width:60%;
	font-size: 20pt;
}

#randomQuoteButton {
	z-index:10;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20%;
	font-size: 20pt;
}